/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

@tailwind base;

@tailwind components;

.grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, 50px);
}

@tailwind utilities;
